In [59]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [60]:
df=pd.read_csv('mnist.csv')

In [61]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
x=df.iloc[:,1:].values

In [63]:
y=df.iloc[:,0:1].values

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [65]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [66]:
from sklearn.decomposition import PCA
pca=PCA(0.95)
x_train=pca.fit_transform(x_train)
x_test=pca.transform(x_test)

In [67]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)

In [68]:
classifier.fit(x_train,y_train)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [69]:
y_pred=classifier.predict(x_test)

In [70]:
result=pd.DataFrame({'Actual':list(y_test),'Predicted':list(y_pred)})
result.head(10)

  Actual  Predicted
0    [3]          3
1    [6]          6
2    [9]          9
3    [5]          5
4    [6]          6
5    [5]          0
6    [6]          6
7    [0]          0
8    [0]          0
9    [1]          1

In [71]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print('Accuracy Score:',score)

Accuracy Score: 0.915

In [76]:
from sklearn.metrics import confusion_matrix
matrix=confusion_matrix(y_test,y_pred)
matrix

array([[778,   1,   3,   2,   2,   4,  14,   2,   7,   0],
       [  0, 938,   7,   3,   0,   3,   3,   0,   6,   1],
       [  5,   8, 766,  18,  12,   3,  14,  14,  19,   1],
       [  3,   3,  25, 760,   2,  31,   3,  10,  14,  12],
       [  3,   7,   6,   2, 761,   2,   5,   0,  12,  29],
       [ 10,   4,   2,  22,   8, 668,   8,   3,  22,   9],
       [  4,   0,   8,   1,   4,  15, 807,   0,   2,   0],
       [  3,   7,  13,   1,   9,   2,   1, 838,   3,  22],
       [  6,  12,   3,  20,   6,  29,  11,   2, 665,  14],
       [ 13,   1,   4,  14,  27,   8,   0,  32,   8, 705]], dtype=int64)

In [81]:
from sklearn.metrics import classification_report
report=classification_report(y_test,y_pred)
print(report)

             precision    recall  f1-score   support

          0       0.94      0.96      0.95       813
          1       0.96      0.98      0.97       961
          2       0.92      0.89      0.90       860
          3       0.90      0.88      0.89       863
          4       0.92      0.92      0.92       827
          5       0.87      0.88      0.88       756
          6       0.93      0.96      0.95       841
          7       0.93      0.93      0.93       899
          8       0.88      0.87      0.87       768
          9       0.89      0.87      0.88       812

avg / total       0.91      0.92      0.91      8400