## Q.1- What is the probability of a person playing when the weather is sunny? Find P(Yes|Sunny).

In [30]:
print('P(Yes|Sunny) = 3/5')

P(Yes|Sunny) = 3/5

## Q.2- Solve the following:
a) Import iris dataset from sklearn.
b) Split the dataset into training and testing sets using train_test_split() 
c) Use GaussianNB and print the following:
i. Confusion matrix
ii. Classification report

d) Use MultinomialNB and print the following:
i. Confusion matrix
ii. Classification report

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split

In [32]:
from sklearn import datasets

In [42]:
iris=datasets.load_iris()
x=iris['data']
y=iris['target']

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

## MultinomialNB

In [45]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [46]:
classifier.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [47]:
y_pred=classifier.predict(x_test)

In [48]:
prediction=pd.DataFrame({'Actual':list(y_test),'Prediction':list(y_pred)})
prediction

    Actual  Prediction
0        2           2
1        1           2
2        0           0
3        2           2
4        0           0
5        2           2
6        0           0
7        1           2
8        1           2
9        1           2
10       2           2
11       1           2
12       1           2
13       1           2
14       1           2
15       0           0
16       1           2
17       1           2
18       0           0
19       0           0
20       2           2
21       1           2
22       0           0
23       0           0
24       2           2
25       0           0
26       0           0
27       1           2
28       1           2
29       0           0

In [49]:
from sklearn.metrics import confusion_matrix

In [50]:
acc=confusion_matrix(y_test,y_pred)
acc

array([[11,  0,  0],
       [ 0,  0, 13],
       [ 0,  0,  6]], dtype=int64)

In [51]:
from sklearn.metrics import classification_report
target_names = ['0','1','2','3','4','5','6','7','8','9']
cr=classification_report(y_test, y_pred,target_names=target_names)
print(cr)

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        11
          1       0.00      0.00      0.00        13
          2       0.32      1.00      0.48         6

avg / total       0.43      0.57      0.46        30

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1428: UserWarning: labels size, 3, does not match size of target_names, 10
  .format(len(labels), len(target_names))
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## GaussianNB

In [52]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()

In [53]:
classifier.fit(x_train,y_train)

GaussianNB(priors=None)

In [54]:
y_pred=classifier.predict(x_test)
prediction=pd.DataFrame({'Actual':list(y_test),'Prediction':list(y_pred)})
prediction

    Actual  Prediction
0        2           2
1        1           1
2        0           0
3        2           2
4        0           0
5        2           2
6        0           0
7        1           1
8        1           1
9        1           1
10       2           1
11       1           1
12       1           1
13       1           1
14       1           1
15       0           0
16       1           1
17       1           1
18       0           0
19       0           0
20       2           2
21       1           1
22       0           0
23       0           0
24       2           2
25       0           0
26       0           0
27       1           1
28       1           1
29       0           0

In [55]:
from sklearn.metrics import confusion_matrix
acc=confusion_matrix(y_test,y_pred)
acc

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  1,  5]], dtype=int64)

In [56]:
from sklearn.metrics import classification_report
target_names = ['0','1','2','3','4','5','6','7','8','9']
cr=classification_report(y_test, y_pred,target_names=target_names)
print(cr)

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        11
          1       0.93      1.00      0.96        13
          2       1.00      0.83      0.91         6

avg / total       0.97      0.97      0.97        30

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1428: UserWarning: labels size, 3, does not match size of target_names, 10
  .format(len(labels), len(target_names))