In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [26]:
df.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
df.describe(include="all")

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,20140623T000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.580302e+09,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,NaN,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,NaN,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,NaN,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,NaN,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,NaN,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [10]:
df.cov()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
price,1.347824e+11,105286.276362,148481.495749,2.367154e+08,1.363437e+09,50908.003884,8460.643388,111772.969096,8687.030331,288026.499738,1.841014e+08,5.261406e+07,582448.362866,1.864486e+07,-1.045072e+06,15617.422517,1118.118066,1.472964e+08,8.264591e+08
bedrooms,1.052863e+05,0.865015,0.369527,4.925960e+02,1.221324e+03,0.088104,-0.000530,0.056684,0.017232,0.390254,3.678361e+02,1.247599e+02,4.212004,7.038678e+00,-7.597239e+00,-0.001151,0.016958,2.496518e+02,7.426446e+02
bathrooms,1.484815e+05,0.369527,0.593151,5.338120e+02,2.798944e+03,0.208211,0.004247,0.110800,-0.062638,0.602005,4.370876e+02,9.672443e+01,11.447333,1.569654e+01,-8.400840e+00,0.002622,0.024191,3.001611e+02,1.833182e+03
sqft_living,2.367154e+08,492.596040,533.811988,8.435337e+05,6.574684e+06,175.540402,8.249461,200.314304,-35.114601,823.407664,6.666978e+05,1.768358e+05,8580.237559,2.042442e+04,-9.800232e+03,6.685035,31.071084,4.761601e+05,4.596302e+06
sqft_lot,1.363437e+09,1221.324216,2798.943628,6.574684e+06,1.715659e+09,-116.328567,77.418670,2371.393311,-241.461641,5531.996968,6.294462e+06,2.802218e+05,64580.849602,1.271708e+05,-2.871637e+05,-491.766060,1338.836937,4.105319e+06,8.126540e+08
floors,5.090800e+04,0.088104,0.208211,1.755404e+02,-1.163286e+02,0.291588,0.001107,0.012184,-0.092686,0.290824,2.342603e+02,-5.871985e+01,7.761250,1.374814e+00,-1.708121e+00,0.003712,0.009538,1.035866e+02,-1.661524e+02
waterfront,8.460643e+03,-0.000530,0.004247,8.249461e+00,7.741867e+01,0.001107,0.007485,0.026643,0.000938,0.008418,5.163720e+00,3.085741e+00,-0.066483,3.227949e+00,1.401912e-01,-0.000171,-0.000511,5.127103e+00,7.252979e+01
view,1.117730e+05,0.056684,0.110800,2.003143e+02,2.371393e+03,0.012184,0.026643,0.587243,0.022934,0.226383,1.063870e+02,9.392727e+01,-1.202897,3.198718e+01,3.478060e+00,0.000654,-0.008461,1.472943e+02,1.518526e+03
condition,8.687030e+03,0.017232,-0.062638,-3.511460e+01,-2.414616e+02,-0.092686,0.000938,0.022934,0.423467,-0.110664,-8.525727e+01,5.014267e+01,-6.908312,-1.584488e+01,1.053428e-01,-0.001347,-0.009760,-4.140089e+01,-6.050935e+01
grade,2.880265e+05,0.390254,0.602005,8.234077e+02,5.531997e+03,0.290824,0.008418,0.226383,-0.110664,1.381703,7.358054e+02,8.760226e+01,15.432403,6.805809e+00,-1.162652e+01,0.018582,0.032838,5.745907e+02,3.827254e+03
sqft_above,1.841014e+08,367.836092,437.087555,6.666978e+05,6.294462e+06,234.260251,5.163720,106.387032,-85.257275,735.805403,6.857347e+05,-1.903683e+04,10310.842663,7.745115e+03,-1.157255e+04,-0.093688,40.093854,4.153850e+05,4.387534e+06
sqft_basement,5.261406e+07,124.759948,96.724433,1.768358e+05,2.802218e+05,-58.719850,3.085741,93.927272,50.142673,87.602262,-1.903683e+04,1.958727e+05,-1730.605104,1.267930e+04,1.772320e+03,6.778723,-9.022770,6.077510e+04,2.087679e+05
yr_built,5.824484e+05,4.212004,11.447333,8.580238e+03,6.458085e+04,7.761250,-0.066483,-1.202897,-6.908312,15.432403,1.031084e+04,-1.730605e+03,862.797262,-2.653213e+03,-5.451483e+02,-0.602871,1.693346,6.567732e+03,5.690946e+04
yr_renovated,1.864486e+07,7.038678,15.696537,2.042442e+04,1.271708e+05,1.374814,3.227949,31.987181,-15.844882,6.805809,7.745115e+03,1.267930e+04,-2653.212782,1.613462e+05,1.383153e+03,1.636217,-3.867676,-7.357744e+02,8.613634e+04
zipcode,-1.045072e+06,-7.597239,-8.400840,-9.800232e+03,-2.871637e+05,-1.708121,0.140191,3.478060,0.105343,-11.626523,-1.157255e+04,1.772320e+03,-545.148312,1.383153e+03,2.862788e+03,1.979855,-4.250293,-1.023266e+04,-2.150769e+05
lat,1.561742e+04,-0.001151,0.002622,6.685035e+00,-4.917661e+02,0.003712,-0.000171,0.000654,-0.001347,0.018582,-9.368779e-02,6.778723e+00,-0.602871,1.636217e+00,1.979855e+00,0.019200,-0.002644,4.640056e+00,-3.269542e+02
long,1.118118e+03,0.016958,0.024191,3.107108e+01,1.338837e+03,0.009538,-0.000511,-0.008461,-0.009760,0.032838,4.009385e+01,-9.022770e+00,1.693346,-3.867676e+00,-4.250293e+00,-0.002644,0.019833,3.229692e+01,9.784167e+02
sqft_living15,1.472964e+08,249.651804,300.161076,4.761601e+05,4.105319e+06,103.586570,5.127103,147.294289,-41.400888,574.590703,4.153850e+05,6.077510e+04,6567.731662,-7.357744e+02,-1.023266e+04,4.640056,32.296917,4.697612e+05,3.428259e+06
sqft_lot15,8.264591e+08,742.644640,1833.182173,4.596302e+06,8.126540e+08,-166.152367,72.529786,1518.526494,-60.509350,3827.253753,4.387534e+06,2.087679e+05,56909.455091,8.613634e+04,-2.150769e+05,-326.954187,978.416692,3.428259e+06,7.455182e+08

In [9]:
#id and date are of no use
#so we drop them
df=df.drop(['id','date'],axis=1)

In [12]:
df.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [17]:
y=df.iloc[:,0:1].values
x=df.iloc[:,1:].values

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [20]:
from sklearn.linear_model import LinearRegression
classifier=LinearRegression()

In [21]:
classifier.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [22]:
y_pred=classifier.predict(x_test)

In [23]:
y_pred

array([[ 458597.0676416 ],
       [ 748993.75994816],
       [1243303.75799036],
       ...,
       [ 378358.0142824 ],
       [ 814280.5596959 ],
       [ 582157.52856951]])

In [25]:
classifier.score(x_test,y_test)

0.6994627057969691